html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html,
*,
body {
  font-family: "gillsans", Arial, Tahoma, sans-serif;
  font-weight: 100;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.wrap {
  max-width: 65%;
  margin: 16px auto;
  position: relative; }
  .wrap .cart-frame {
    position: relative; }
    .wrap .cart-frame .cart {
      position: fixed;
      right: 24px;
      bottom: 24px;
      font-size: 30px;
      line-height: 59px;
      width: 56px;
      text-align: center;
      height: 59px;
      -webkit-box-shadow: 0px 1px 3px #000000;
      box-shadow: 0px 1px 3px #000000;
      border-radius: 20%; }
      .wrap .cart-frame .cart .number {
        position: absolute;
        left: -12px;
        top: -12px;
        width: 24px;
        height: 24px;
        background: rgba(255, 0, 0, 0.5);
        border-radius: 50%;
        font-size: 14px;
        line-height: 24px;
        color: white; }
  .wrap .header {
    position: relative; }
    .wrap .header .logo {
      height: 102px;
      width: 111.17px;
      background: url("../image/Estetica-Logo@800x1024.png") no-repeat 50% 50%;
      background-size: contain;
      margin: 0 auto;
      position: absolute;
      left: 50%;
      top: 50%;
      margin: -51px 0px 0px -55.585px; }
      .wrap .header .logo a {
        display: block;
        height: 102px;
        width: 111.17px;
        text-indent: 101%;
        white-space: nowrap;
        overflow: hidden; }
    .wrap .header .function {
      float: right; }
      .wrap .header .function li {
        line-height: 102px;
        float: left;
        padding-left: 48px; }
        .wrap .header .function li a {
          text-decoration: none;
          color: #000000;
          font-size: 16px; }
  .wrap .navbar {
    margin: 0 auto;
    margin-top: 48px;
    display: table; }
    .wrap .navbar li {
      display: inline-block;
      padding: 0px 20px; }
      .wrap .navbar li a {
        text-decoration: none;
        color: #626262;
        font-size: 16px; }
        .wrap .navbar li a i {
          vertical-align: bottom; }
  .wrap .jumbotron {
    margin-top: 16px; }
    .wrap .jumbotron img {
      max-width: 100%; }
  .wrap .line {
    background: url("../image/Decoration@418x77.png") 50% 50%;
    width: 25%;
    height: 77px;
    margin: 24px auto; }
  .wrap .quote-slogan {
    font-family: "Baskerville Old Face", Arial, Tahoma, sans-serif;
    line-height: 49px;
    letter-spacing: 5px;
    font-size: 22px;
    text-align: center; }
  .wrap .hightlight {
    background: #383838;
    padding: 48px;
    color: #ffffff; }
    .wrap .hightlight h3 {
      font-size: 8em;
      text-align: center;
      font-family: "Baskerville Old Face", Arial, Tahoma, sans-serif;
      font-weight: 100; }
    .wrap .hightlight .quote-hightlight {
      font-family: "Baskerville Old Face", Arial, Tahoma, sans-serif;
      line-height: 49px;
      letter-spacing: 5px;
      font-size: 22px;
      text-align: center;
      margin-bottom: 64px; }
    .wrap .hightlight ul li {
      float: left;
      width: 50%; }
      .wrap .hightlight ul li h2 {
        font-size: 30px;
        line-height: 34px;
        padding-bottom: 15px;
        letter-spacing: 10px;
        font-family: "gillsans", Arial, Tahoma, sans-serif;
        font-weight: 400; }
      .wrap .hightlight ul li img {
        max-width: 100%; }
      .wrap .hightlight ul li p {
        font-size: 16px;
        line-height: 30px;
        font-family: "Baskerville Old Face", Arial, Tahoma, sans-serif;
        padding-right: 24px; }
  .wrap .features {
    margin: 24px; }
    .wrap .features li {
      padding: 36px 0px; }
    .wrap .features .features-left {
      float: left;
      width: 50%; }
    .wrap .features .features-right {
      float: right;
      width: 50%; }
      .wrap .features .features-right img {
        float: right; }
      .wrap .features .features-right p {
        float: right; }
    .wrap .features .features-mid {
      border-top: 1px solid #000000;
      border-bottom: 1px solid #000000; }
    .wrap .features h2 {
      font-size: 30px;
      line-height: 34px;
      padding-bottom: 15px;
      letter-spacing: 10px;
      font-family: "gillsans", Arial, Tahoma, sans-serif;
      font-weight: 400;
      margin-bottom: 24px; }
    .wrap .features img {
      max-width: 60%; }
    .wrap .features p {
      font-size: 16px;
      line-height: 30px;
      font-family: "Baskerville Old Face", Arial, Tahoma, sans-serif;
      margin-bottom: 36px; }
    .wrap .features button {
      padding: 13px 19px;
      border: 1px solid #626262;
      background: #ffffff;
      -webkit-transition: 0.35s;
      -o-transition: 0.35s;
      transition: 0.35s; }
      .wrap .features button:hover {
        cursor: pointer;
        background: #E8E8E8;
        border: 1px solid #E8E8E8; }
  .wrap .hightlight-white {
    background: #ffffff;
    color: #000000; }
  .wrap .news {
    text-align: center; }
    .wrap .news h2 {
      font-size: 30px;
      line-height: 34px;
      padding-bottom: 15px;
      letter-spacing: 10px;
      font-family: "gillsans", Arial, Tahoma, sans-serif;
      font-weight: 400;
      margin-bottom: 24px; }
    .wrap .news p {
      font-size: 16px;
      line-height: 30px;
      font-family: "Baskerville Old Face", Arial, Tahoma, sans-serif; }
  .wrap .instergram {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 48px; }
    .wrap .instergram h2 {
      font-size: 30px;
      line-height: 34px;
      padding-bottom: 15px;
      letter-spacing: 10px;
      font-family: "gillsans", Arial, Tahoma, sans-serif;
      font-weight: 400;
      margin-bottom: 24px; }
  .wrap .sociallink {
    margin: 0 auto;
    margin-top: 48px;
    position: relative;
    width: 100%; }
    .wrap .sociallink ul {
      background: #ffffff;
      z-index: 5;
      margin: 0 auto;
      display: table;
      position: absolute;
      left: 50%;
      right: 0;
      padding: 0px 16px;
      margin-left: -121px; }
      .wrap .sociallink ul li {
        display: inline-block;
        height: 54px;
        width: 54px;
        border: 2px solid #000000;
        border-radius: 50%;
        margin: 8px;
        background: #ffffff; }
        .wrap .sociallink ul li a {
          text-decoration: none;
          color: #000000;
          text-align: center;
          line-height: 54px;
          font-size: 30px;
          display: block; }
    .wrap .sociallink .center-line {
      position: absolute;
      top: 34px;
      width: 100%;
      z-index: 1;
      border: 1px solid #000000; }
  .wrap .fastlink {
    margin: 0 auto;
    margin-top: 168px; }
    .wrap .fastlink ul {
      width: 25%;
      float: left; }
      .wrap .fastlink ul h4 {
        font-family: "gillsans", Arial, Tahoma, sans-serif;
        font-size: 21px;
        margin-bottom: 24px; }
      .wrap .fastlink ul li a {
        text-decoration: none;
        color: #626262;
        font-size: 16px;
        line-height: 21px; }
        .wrap .fastlink ul li a:hover {
          text-decoration: underline; }
  .wrap .footer {
    color: #626262;
    font-size: 16px;
    margin-top: 42px; }
    .wrap .footer .policy,
    .wrap .footer .terms {
      float: left; }
      .wrap .footer .policy a,
      .wrap .footer .terms a {
        text-decoration: none; }
        .wrap .footer .policy a:hover,
        .wrap .footer .terms a:hover {
          text-decoration: underline;
          color: #000000; }
    .wrap .footer .policy {
      border-right: 1px solid #000000;
      padding-right: 16px; }
    .wrap .footer .terms {
      padding-left: 16px; }
    .wrap .footer .credit {
      float: right; }
    .wrap .footer .scroll-top {
      float: right;
      color: #626262;
      font-size: 30px;
      margin: 88px; }

.clearfix {
  clear: both; }
