// 
// Variables
// 

// Color System
$hightlight:#383838;
$content:#000000;
$function:rgb(98,98,98);

// Font Size
$font-size-title:30px;
$font-size-quote:22px;
$font-size-subtitle:21px;
$font-size-content:16px;