// 
// Variables
// 

// Color System
$accent: #6c7992;

// Font Size
$font-size-xxl: 74px;
$font-size-xl: 48px;
$font-size-large: 32px;
$font-size-lm:18px;
$font-size-medium: 16px;
$font-size-small: 14px;